html {
  margin: 0;
  padding: 0;
  margin-block-end: 0.01px;
  margin-block-start: 0.01px;
  margin-inline-end: 0.01px;
  margin-inline-start: 0.01px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background: #fff;
}

li {
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: #092c69;
  font-weight: 530;
  font-size: 12px;
  font-style: normal;
}

ul {
  list-style-type: none;
  margin-block-end: 0.01px;
  padding-inline-start: 0.01px;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #172b4d;
  font-size: 33px;
  font-weight: bolder;
  margin-block-end: 0.01px;
  margin-block-start: 0.01px;
  margin-inline-end: 0.01px;
  margin-inline-start: 0.01px;
}

p {
  color: #344563;
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 16px;
  line-height: 25px;
  margin-block-end: 0.01px;
  margin-block-start: 0.01px;
  margin-inline-end: 0.01px;
  margin-inline-start: 0.01px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: #172b4d;
  line-height: 50px;
  font-size: 40px;
  margin-top: 60px;
}

button {
  font-size: 17px;
  color: #396df2;
  background: #fff;
  border: none;
  font-weight: 550;
}

/* first section */

.card-container {
  max-width: 375px;
  height: 60vh;
  margin: 0 auto;
}

.let-connect {
  padding-top: 10px;
  color: #7f8cff;
  font-size: 15px;
  font-weight: bold;
}

.header .let-connect {
  color: #7f8cff;
  font-size: 18px;
}

.flex-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 7%;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
  background: rgb(255, 255, 255);
  color: #6070ff;
  font-size: 20px;
}

.media-icon {
  position: static;
  top: 20px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  order: 3;
  height: 2px;
  margin: 1px;
  padding: 1px 4px;
}

ul.media-icon {
  position: static;
  display: flex;
  flex-direction: row;
  max-width: 100vh;
  padding-inline-start: 0;
  margin: 6px 0 6px 6px;
  list-style-type: none;
}

.lang li {
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 8px;
  background: #ebebff;
  margin-block-end: 0.01px;
  margin-block-start: 0.01px;
  margin-inline-end: 10px;
  margin-inline-start: 0.01px;
}

ul.media-icon li {
  width: 40px;
  height: 40px;
}

.icons:hover {
  filter: sepia(100%) hue-rotate(142deg) saturate(500%);
}

.hamburger {
  position: absolute;
  right: 34px;
  width: 16px;
  height: 12px;
}

.hamburger:hover {
  filter: sepia(100%) hue-rotate(142deg) saturate(500%);
}

/* second section */

.link-buttons {
  width: fit-content;
  cursor: pointer;
  border: 1px solid #6070ff;
  margin-top: 30px;
  border-radius: 8px;
  padding: 15px 20px;
}

.link-buttons:hover {
  background: #6070ff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.link-buttons:focus {
  background: #2230d2;
  color: #fff;
}

.card-page {
  background: #e5e5e5;
  width: 380px;
  margin: 0 auto;
  justify-content: center;
}

.work-section {
  display: grid;
  justify-content: space-between;
  align-content: center;
  grid-template-rows: auto auto auto auto;
  padding: 10px;
  row-gap: 100px;
}

.cards-work,
.about-myself {
  background: #fff;
  width: 330px;
  padding: 15px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lang {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.about-myself {
  padding-top: 100px;
  width: 92%;
  margin: 100px auto;
  border-radius: 0 70px 0 0;
}

.contactSection {
  background: #6070ff;
  border-radius: 130px 0 0 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 110px;
  padding-top: 50px;
  background-image: url("images/footerbg.png");
  background-repeat: no-repeat;
  background-position: 80px 10px;
}

#Contact-form {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

#textbox {
  height: 200px;
}

.inputclass,
#textbox {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

#Formtitle {
  margin-top: 80px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
}

#Formtext {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-top: 50px;
  margin-right: 47px;
  margin-left: 30px;
  margin-bottom: 90px;
}

.DesktopNavtext {
  display: none;
}

input {
  font-family: "Poppins", sans-serif;
  padding: 15px 10px;
  font-size: 17px;
  margin-bottom: 25px;
  color: black;
}

input:focus {
  outline: 0;
}

input ::placeholder {
  color: #0d131f;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

textarea {
  font-family: "Poppins", sans-serif;
  padding: 15px 10px;
  font-size: 17px;
  color: black;
}

textarea:focus {
  outline: 0;
}

@media (min-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  #Menu_id {
    display: none;
  }

  .DesktopNavtext {
    display: flex;
    justify-content: flex-start;
  }

  .DesktopNavElements {
    margin: 0 40px 0  0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .contactSection {
    background-image: url("images/Contactformdesktop.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 120px;
    padding-top: 10px;
    margin-top: 0;
  }

  #Contact-form {
    display: flex;
    flex-direction: column;
    padding: 0 443px 40px 444px;
    margin-top: 0;
  }

  .inputbox,
  #textbox {
    border: 1px solid #cfd8dc;
    border-radius: 9px;
  }

  #Formtitle {
    padding-top: 80px;
  }

  #contact-form {
    margin: 50px 0 48px 0;
    padding: 0 400px;
  }
}
